.contenedor-acordeon{
    margin: 20px 0;
}



.img-links--container{
    width: 100%;
    display: flex;
}

.img-links--container:nth-child(2){
    max-width: 300px;
    position: relative;
}

.buttons-container--card:nth-child(2){
    width: 300px;
    position: relative;
}

.buttons-container--card{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
    gap: 20px; 
}

