.contenedor-acordeon{
    margin: 20px 0;
}

.img-links--container{
    width: 100%;
    display: flex;
}

.card{
    display: flex;
    flex-direction: row; /* Asegura que los elementos estén en fila por defecto */
}

.card:nth-child(2n){
    flex-direction: row-reverse; /* Invierte la dirección de los elementos en cada segundo hijo */
}

.buttons-container--card{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
    gap: 20px; 
}

